@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
}

@media all and (max-width: 1020) {
  body {
    padding: auto;
    margin: auto;
    width: auto;
    height: auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin: 25px;
}

.logo:hover {
  background-color: #020d22;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}
.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  font-weight: 700;
}

.nav-links li :hover {
  background-color: #020d22;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}

.toggle-button {
  top: 5px;
  left: 5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 7px;
}

@media all and (max-width: 1060px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .navbar {
    width: 600px;
  }
}

.header {
  height: 50px;
}

.heading {
  background-image: url(Assets/img/header.jpg);
  border-bottom-left-radius: 150px;
  margin-bottom: 90px;
  margin-top: 0;
  width: 100%;
}

@media (max-width: 1060px) {
  .heading {
    width: 600px;
    padding-right: 100px;
    text-align: center;
  }
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #091e42;
  text-align: left;
  padding: 250px 0 0 100px;
  margin-bottom: 0;
  margin-left: 95px;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: #091e42;
  text-align: left;
  padding: 0 0 0 200px;
}

.icons {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  list-style: none;
  margin-left: 150px;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  margin-left: 100px;
}

.container {
  background-color: #fff;
  height: 550px;
  margin: 80px;
  border-radius: 24px;
  padding: 25px;
}

@media (max-width: 1060px) {
  .container {
    height: 1000px;
    width: 600px;
    margin-left: 0;
    justify-content: center;
  }
}

.float {
  margin-left: 10px;
}

.tonic {
  color: #091e42;
  list-style: none;
  font-weight: 700;
  font-size: 30px;
  padding-top: 15px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: none;
}

img {
  float: left;
  margin-right: 15px;
  padding-right: 5px;
}

.image {
  float: right;
}

@media (max-width: 1060px) {
  .image {
    resize: vertical;
  }
}

.canopy {
  list-style: none;
  margin-right: 20px;
}

.list {
  padding-left: 10px;
  margin-left: 10px;
  color: #6b778c;
}

.list1 {
  margin-left: 25px;
  color: #6b778c;
}

.list2 {
  /* padding-left: 10px; */

  /* margin-left: 10px; */
  margin-right: 10px;
  background-color: #ebebff;
  line-height: 24px;
  padding: 10px;
  border-radius: 8px;
  color: #010313;
  font-weight: 700;
}

.list2:hover {
  background-color: rgb(143, 5, 5);
  color: white;
  font-weight: 700;
}

.button-1 {
  font-size: 17px;
  font-weight: 700;
  color: #09021b;
  height: 40px;
  font-weight: 500;
  border: 1px solid royalblue;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
}

.para {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.tools {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin-left: 0;
  padding: 0;
}

.about {
  /* background-color: #4688fc; */
  display: flex;
  flex-direction: column;
  float: left;
  padding: 25px;
  padding-top: 40px;

  /* padding-left: 40px; */
  margin-left: 20px;
}

.about-1 {
  color: #091e42;
}

@media (max-width: 1060px) {
  .about-1 {
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.about-2 {
  padding-top: 0;
  margin-top: 0;
  font-weight: 400;
  color: #344563;
}

@media (max-width: 1060px) {
  .about-2 {
    font-size: 12px;
    font-weight: 200;
    margin-left: 20px;
    text-align: center;
  }
}

.about-3 {
  padding-top: 0;
  margin-top: 0;
  color: #7f8cff;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1060px) {
  .about-3 {
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.about-4 {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.fa-m,
.fa-twitter,
.fa-hand-peace,
.fa-linkedin,
.fa-github {
  padding: 8px;
  color: #000;
  font-size: 25px;
}

@media (max-width: 1060px) {
  .fa-m,
  .fa-twitter,
  .fa-hand-peace,
  .fa-linkedin,
  .fa-github {
    margin-left: 25px;
  }
}

.button-2 {
  font-size: 17px;
  font-weight: 700;
  color: #010614;
  height: 40px;
  width: 148px;
  border: 1px solid royalblue;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

button:hover {
  background-color: rgb(165, 4, 4);
  color: #fff;
  font-weight: 700;
  border: unset;
}

.language {
  padding-top: 40px;
  padding-right: 40px;
}

.lang-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
  font-weight: 500;

  /* padding-top: 40px; */
}

.lang-2 {
  display: flex;
  list-style: none;
}

.script {
  margin: 10px;
  margin-left: 0;
  padding: 15px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.html {
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.css {
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.frame {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: #dfe1e6 solid;
}

.contact {
  background-color: #fff;
  height: 550px;
  width: 100%;
  margin: 0;
  border-top-right-radius: 100px;
  padding-top: 100px;
  padding-right: 75px;
  padding-left: 50px;
}

@media (max-width: 1060px) {
  .contact {
    height: 1000px;
    width: 600px;
    padding-top: 0;
    padding-left: 15px;
  }
}

form {
  background-image: url(Assets/img/contact.jpg);
  height: 650px;
  width: 100%;
  color: #fff;
  padding: 100px 350px 200px 370px;
  align-items: center;
  text-align: center;
}

@media (max-width: 1060px) {
  form {
    height: 500px;
    width: 600px;
    font-size: 10px;
    padding: 45px 10px 10px 10px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-fields {
  height: 35px;
  width: 447px;
  margin: 10px;
  border: unset;
  border-radius: 8px;
  margin-left: 40px;
  padding-right: 0;
  padding-left: 10px;
  font-family: 'poppins', sans-serif, Arial, Helvetica;
}

@media (max-width: 1060px) {
  .input-fields {
    height: 25px;
    width: 250px;
    margin: 10px;
    border: unset;
    border-radius: 8px;
    margin-left: 160px;
    padding-right: 0;
    padding-left: 10px;
    font-family: 'poppins', sans-serif, Arial, Helvetica;
  }
}

textarea {
  height: 170px;
  width: 447px;
  border: unset;
  border-radius: 8px;
  margin: 10px;
  margin-left: 40px;
  font-family: 'poppins', sans-serif, Arial, Helvetica;
  padding-top: 15px;
  padding-left: 10px;
}

@media (max-width: 1060px) {
  textarea {
    height: 100px;
    width: 250px;
    margin: 10px;
    border: unset;
    border-radius: 8px;
    margin-left: 160px;
    padding-right: 0;
    padding-left: 10px;
    font-family: 'poppins', sans-serif, Arial, Helvetica;
  }
}

ul {
  list-style: none;
}
h4 {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1060px) {
  h4 {
    justify-self: center;
    margin-left: 60px;
    margin-right: 60px;
  }
}
